.LoaderCardBox
{
  width: 100%;
}
.LoaderimgBox
{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}
.Loadertitle
{
    margin: 10px 0;
}
.LoderDate_Type
{
    display: flex;
    gap: 20px;
}

/* loader css for text */
.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
  }
  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #fd78a4;
    box-shadow: 32px -34px 0 5px #E71D60;
    animation: slide 2s infinite ease-in-out alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #E71D60;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
  }
  
  @keyframes slide {
    0% , 100% {
      bottom: -35px
    }
  
    25% , 75% {
      bottom: -2px
    }
  
    20% , 80% {
      bottom: 2px
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg)
    }
  
    25% , 75% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(25deg)
    }
  }



  .Lineloader
  {
    position: relative;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #ccc;
    border-radius: 4px;
  }

  .Lineloader:after
   {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }



  @media only screen and (max-width: 850px){

    .LoaderCardBox
    {
        height: 200px;
    }
    .Loadertitle,
    .LoderDate_Type
    {
      display: none;
    }
}
