.MainWrapperDetail
{
    width: 100%;
    min-height: 130vh;
}

.BackdropImageWrapper
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.BackdropImageWrapper .Layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
}

.BackdropImageWrapper img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.21);
}

.DetailMainCard
{
    position: absolute;
    bottom: -35%;
    width: 100%;
    padding: 0 100px;
}
/* More Movie Section  */
.MoreMoviesSection
{
    min-height: 100vh;
    width: 100%;
    background-color: red;
}






@media screen and (max-width: 1115px) {
    .DetailMainCard {
        padding: 0 10px;
    }
}
