.infoWrapper
{
    width: calc(100% - 200px);
}
/* --- WatchNow Btn and Add fav */
.Watch_add_Btns_Wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.Watch_add_Btns_Wrapper button
{
    width: 150px;
    background-color: #eee;
    color: #333;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
}
.Watch_add_Btns_Wrapper a
{
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: #E71D60;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}

/* --- Movie Title --- */
.MovieTitleWrapper
{
    margin-bottom: 20px;
}
.MovieTitleWrapper .title
{
    font-size: 2em;
    font-weight: 500;
    color: #444;
    text-decoration: none;
}
.MovieTitleWrapper .title:hover
{
    color: #E71D60;
}
.MovieTitleWrapper .tagLine
{
    color: #E71D60;
    font-size: 15px;
    font-weight: 300;
}

/* --- Vide trailer btn and HD btn --- */

.videoType_Btns_Wrapper
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.videoType_Btns_Wrapper button
{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.videoType_Btns_Wrapper .trailerBtn
{
    width: 80px;
    height: 35px;
    font-size: 1em;
    background-color: #fbf8f8;
    border: 1px solid #333;
    border-radius: 4px;
}
.videoType_Btns_Wrapper .trailerBtn i
{
    margin: 0 5px 0 0;
}
.videoType_Btns_Wrapper .hdBtn
{
    font-size: 1em;
    width: 40px;
    height: 35px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fbf8f8;
}
.videoType_Btns_Wrapper .imdbBtn
{
    width: 60px;
    height: 35px;
    font-size: 1em;
    color: #f0a009;
    
    border-radius: 20px;
}
.videoType_Btns_Wrapper .imdbBtn:focus
{
    border: 1px solid #f0a009;
}


/* --- Movie Over_view */
.Movie_Over_View_Wrapper 
{
    margin-bottom: 20px;
}
.Movie_Over_View_Wrapper p
{
    color: #333;
    /* font-size: 15px; */
    font-weight: 400;
}